{% load static %}

<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
           <div class="col-3">
             <img src="{% static "assets/ascencion.jpg" %}" alt="" width="100px">
          </div>
          <div class="col-6 text-center">
            <a href="#" class="blog-header-logo text-dark">Les Paroisses du secteur d'Andenne</a>
          </div>
           <div class="col-3 d-flex justify-content-end align-items-center">
            <img src="{% static "assets/iconechrist.jpg" %}" alt="" width="100px">
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2 blog-header">
        <nav class="nav d-flex justify-content-between">
          <a href="/" class="p-2 text-muted">Accueil</a>
          <a href="/eglise" class="p-2 text-muted">Nos églises</a>
          <a href="/pretres" class="p-2 text-muted">Les prêtres</a>
          <a href="/agenda" class="p-2 text-muted">Agenda</a>
          <a href="/contact" class="p-2 text-muted">Nous contacter</a>
        </nav>
      </div>
      {% block content %}
      {% endblock %}
    </div>

    <footer class="blog-footer">
      <p>Site réalisé bénévolement par <a href="mailto:jeffpelgrims@live.be">Pelgrims Jean-Francois</a></p>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>