{% extends "base.html" %}

{% block is_active_eglises %}active{% endblock %}


{% block title %}
Nos églises
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="display-4 font-italic">Nos églises</h1>
      <h2>Voici un aperçu de nos églises</h2>
        <p>Curabitur vitae nulla imperdiet, varius magna in, finibus justo. In pretium lacinia metus, eget accumsan magna euismod imperdiet. Integer congue nibh nulla, ac malesuada nulla viverra nec. Fusce lacinia, sapien et laoreet efficitur, leo justo maximus eros, in cursus tellus risus a ipsum. Ut venenatis sollicitudin nibh hendrerit tincidunt. Donec id hendrerit turpis. In ipsum lectus, porta a porttitor eu, malesuada in velit. Nunc pretium hendrerit justo. Maecenas quis velit gravida, blandit nunc id, commodo mi. Praesent sit amet euismod diam. Nam cursus aliquet mauris, quis egestas magna consequat nec. Praesent aliquet orci vitae arcu lacinia, non aliquet eros luctus. Fusce et arcu eget quam maximus facilisis ac sit amet arcu. Etiam semper tortor ac consequat tristique. Donec sit amet sodales tellus, euismod pharetra turpis.

        </p>
    </div>
  </div>
</div>

{% endblock %}