{% extends "base.html" %}

{% block title %}
Nos églises
{% endblock %}

{% block content %}

<main role="main" class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      {% for navigation in nav %}
      <a href="{{ navigation.get_absolute_url }}" class="p-2 text-muted">{{ navigation.ville }}</a>
      {% endfor %}
    </nav>
  </div>
  <div class="row">
    <p>Le secteur paraoisialle d'Andenne se compose de cinq églises. Cliquez sur l'une d'entre elle ci-dessus pour en
      voir le détail.</p>
    {% block eglise %}
    {% endblock %}
  </div>
</main>

{% endblock %}