{% extends "base.html" %}

{% block title %}
Nos églises
{% endblock %}

{% block content %}

<main role="main" class="container">
  <p>Le secteur paraoisialle d'Andenne se compose de cinq églises. Choissiez une église en cliquant sur le bouton ci-dessous.</p>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choisissez une église
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for navigation in nav %}
        <a href="{{ navigation.get_absolute_url }}" class="dropdown-item">{{ navigation.ville }}</a>
      {% endfor %}
    </div>
  </div>

  &nbsp;

  <div class="row">
      {% block eglise %}
      {% endblock %}
  </div>
</main>


{% endblock %}