{% extends "base.html" %}

{% block title %}
Paroisse d'Andenne
{% endblock %}

{% block content %}

<div class="jumbotron p-4 p-md-5 rounded bg-dark text-white">
  <div class="col-md-9 px-0">
    {% for jumbo in jumbotron %}
    <h1 class="display-4 font-italic">
      Lecture
    </h1>
    <h2 class="font-italic">{{ jumbo.extrait }}</h2>
    <p class="lead my-3">
      {{ jumbo.texte }}
    </p>
    <p class="lead mb-0">
      <a href="{{ jumbo.jumbo_url }}" class=" text-white font-weight-bold" target="_blank">Lire le texte en entier</a>
    </p>
    {% endfor %}
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Blog de la paroisse
      </h3>
      <div class="blog-post">
        {% for blogpost in blog %}
          <h2 class="blog-post-title">{{ blogpost.titre_article }}</h2>
          <p class="blog-post-meta">{{ blogpost.date_article }}</p>
          <p>{{ blogpost.contenu | linebreaks | truncatewords:50 }}</p>
          <p><a href="blog/{{ blogpost.id }}/" target="_self">Lire la suite</a></p>
        {% endfor %}
      </div>
    </div>
    <aside class="col-md-4 blog-sidebar">
      <h3>Pause de spiritualité</h3>
      {% for medit in meditation %}
        <h4 class="font-italic">{{ medit.titre }}</h4>
        <p class="mb-0">
          {{ medit.texte | linebreaks }}
        </p>
      {% endfor %}
    </aside>
  </div>
</main>

{% endblock %}